body > main > section > p > span {
    font-weight: bold;
}

body > main > section > nav > ul {
    text-align: center;
}

body > main > section > nav > ul > li {
    background-color: white;
    color: black;
    display: inline-block;
    width: 45%;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: top;
    aspect-ratio: 1.618;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body > main > section > nav > ul > li:nth-child(odd) {
    margin-right: 10%;
}

body > main > section > nav > ul > li > a > div > img {
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

body > main > section > nav > ul > li > a > div > h2 {
    padding: 0 10%;
    font-size: 16pt;
    font-weight: 500;
    margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
    body > main > section > nav > ul > li {
        width: 19%;
    }

    body > main > section > nav > ul > li:not(:last-child) {
        margin-right: 8%;
    }
}