body > main > section > nav {
    font-size: 8pt;
    color: #545454;
}

body > main > section > nav > a {
    color: #545454;
}

.empty-result {
    margin-top: 20px;
    margin-bottom: 4%;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.empty-result h2 {
    font-size: 20pt;
    margin-bottom: 15px;
    color: #333;
}

.empty-result .lead {
    font-size: 16pt;
    color: #555;
}

.empty-result p {
    color: #666;
}

.btn-home {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color:#ffffff;
    border-radius: 5px;
    border: 1px solid #8b92a7;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 12pt;
}

.btn-home:hover {
        background-color: #f6f6f6;
    color: #417c64;

}

@media screen and (min-width: 992px) {
    body > main > section > nav {
        font-size: 10pt;
    }
}
