body > main > section {
    padding: 0;
}

.filtri button img {
    position: absolute;
    height: 10px;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.intro {
    margin: 0;
    position: relative;
    width: 100%;
    max-width: 1520px;
    height: 270px;
    z-index: 0;
}

.intro img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 69% 50%;
}


.intro h1 {
    position: absolute;
    top: calc(25% - 24pt - 15px);
    left: 5%;
    font-size: 24pt;
    font-weight: 600;
    color: #383838;
    z-index: 1;
}

.intro p {
    position: absolute;
    top: 25%;
    left: 5%;
    width: 50%;
    font-size: 12pt;
    font-weight: 500;
    color: #383838;
    text-align: justify;
    z-index: 1;
    margin: 0;
    line-height: 1.2;
}

.elenco_prodotti {
    text-align: center;
}

.prodotto {
    vertical-align: top;
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    aspect-ratio: 1 / 3.5;
}

.prodotto img {
    width: 100%;
    aspect-ratio: 1;
}

.prodotto h3 {
    margin-bottom: 10px;
    padding-top: 20px;
    font-size: 10pt;
    font-weight: 600;
    color: #333;
    min-height: 20pt;
}

.prodotto h4 {
    margin: 0;
    margin-bottom: 10px;
    padding-top: 20px;
    font-size: 9pt;
    font-weight: 600;
    color: #333;
    min-height: 30pt;
}

.prodotto p {
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
    padding: 0 5%;
    font-size: 9pt;
    color: #333;
    line-height: 1.4;
    min-height: calc(38pt + 10px);
}

.prodotto-bottom {
    margin-top: 10px;
    box-sizing: border-box;
    width: 100%;
}

.prodotto p.prezzo {
    min-height: 0;
    font-weight: 600;
    font-size: 12pt;
    margin: 5px 0 2px;
}

.prodotto p.taglia {
    margin: 0;
    font-size: 10pt;
}

.breadcrumb-wrapper {
    padding-top: 20px;
    margin-top: 0;
}

.breadcrumb {
    font-size: 8pt;
    color: #545454;
}

.breadcrumb > a {
    color: #545454;
}

.breadcrumb > a:hover {
    color: #417c64;
}

.titoletto {
    font-size: 18pt;
    margin: 0;
}

@media screen and (min-width: 992px) {
    .breadcrumb {
        font-size: 10pt;
    }

    .intro h1 {
        font-size: 32pt;
        top: calc(30% - 32pt );

    }

    .intro p {
        font-size: 20pt;
        font-weight: 500;
        top: 36%;
    }

    .prodotto {
        width: 20%;
        margin: 10px 2.5%;
        min-height: auto;
        aspect-ratio: 1 / 1.5;
    }

    .titoletto {
        font-size: 20pt;
    }

    .prodotto h3 {
        font-size: 12pt;
        min-height: 8pt;
    }

    .prodotto h4 {
        font-size: 12pt;

    }

    .prodotto p {
        font-size: 10pt;

    }

    .prodotto p.prezzo {
        font-size: 14pt;

    }

    .prodotto img {
        width: 100%;
        aspect-ratio: 0.9;
    }

}