@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
}

body, header, h1, h2 {
    margin: 0;
    padding: 0;
    
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #417c64;
}

.errore {
    color: #cc0003;
}

body > header {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    position:fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    z-index: 1000;
}

body > header > nav {
    box-sizing: border-box;
    width: 20%;
    display: inline-block;
}

body > header > nav > a {
    margin-left: 10%;
}

body > header > nav a img {
    height: 15px;
    margin-bottom: 12.5px;
}

body > header > div {
    box-sizing: border-box;
    width: 60%;
    display: inline-block;
}

body > header > div > a > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    
}

body > header > nav > ul {
    margin: 0;
}

body > header > nav > ul > li {
    display: inline-block;
    width: 25%;
}

body > nav {
    display: none;
    z-index: 100;
}

body > main {
    margin-top: 83.5px;
    background-color: white;
}

body > main > section {
    width: 80%;
    margin: 20px 10%;
    padding-top: 20px;
}

body > main h1 {
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 20px;
}

body > main p {
    font-size: 12pt;
    font-weight: normal;
    line-height: 150%;
}

body > main > section > a {
    display: contents;
}

body > main > section > a > button {
    display: block;
    margin: auto;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #8b92a7;
    width: 30%;
    padding: 5px 0;
    background-color: white;
    color: black;
    font-size: 10pt;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

body > main > section > a > button:hover {
    cursor: pointer;
    background-color: #f6f6f6;
    color: #417c64;
}

body > footer {
    margin-top: 20px;
    background-color: #f6f6f6;
}

body > footer > section {
    margin-left: 10%;
    box-sizing: border-box;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
}

body > footer > section > header > h2 {
    font-size: 12pt;
    font-weight: bold;
}

body > footer > section > nav > ul {
    margin-top: 10px;
    padding-left: 3%;
}

body > footer > section > nav > ul > li {
    font-size: 8pt;
    line-height: 200%;
}

body > footer > section:nth-child(2) > nav > ul > li {
    display: inline-block;
    width: 15%;
}

body > footer > section > nav > ul > li > a > img {
    height: 20px;
}

body > footer > p {
    text-align: center;
    font-size: 8pt;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 20px;
}

@media screen and (min-width: 992px) {
    body > header > nav:first-child {
        visibility: hidden;
    }

    body > header > div > a > img {
        height: 50px;
    }

    body > header > nav a img {
        height: 20px;
        margin-bottom: 15px;
    }

    body > nav {
        top: 83.5px;
        display: block;
        position: fixed;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #f6f6f6;
    }

    body > nav > ul {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    body > nav > ul > li {
        display: inline-block;
        width: 20%;
        text-align: center;
    }

    body > nav > ul > li > a {
        font-size: 12pt;
    }

    body > main {
        margin-top: 122.5px;
    }

    body > main > section > a > button {
        width: 15%;
    }
}