/* Prodotti Categoria - specifico per la pagina prodotti_categoria.php */
div {
    background-color: #ffffff; /* Colore di sfondo specifico per questa pagina */
    color: rgb(0, 0, 0); /* Colore del testo */
}



.intro {
    position: relative;
    width: 1520px; 
    height: 270px; 
    padding-bottom: 50px;
    z-index: 0;
}

.intro img {
    object-fit: cover; 
    width: 100%; 
    height: 100%; 
   
}

.prodotti_categoria h2 {
    position: absolute; /* Posiziona il testo sopra l'immagine */
    top: 25%; /* Centra verticalmente il testo */
    left: 50px; /* Distanza dal lato sinistro */
    font-size: 50px;
    color: #383838; /* Imposta il colore del testo per garantire visibilità */
    z-index: 1;
}

.intro h3 {
    z-index: 1;
    position: absolute; 
    width: 60%;
    top: 35%; 
    left: 50px; 
    font-size: 20px;
    color:#383838;
    text-align: justify;
}




.prodotti_categoria .elenco_prodotti {
    display: flex;
    flex-wrap: wrap;/*se non c'è spazio i prodotti vanno a capo*/
    justify-content: center; /*distribuisce i prodotti in modo uniforme.*/
    gap: 70px;
}

.prodotti_categoria  .prodotto {
    width: 270px;
    height: 370px; /* altezza fissa */
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.prodotti_categoria .prodotto img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.prodotti_categoria .prodotto h3 {
    font-size: 18px;
    color: #333;
}
