@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat';
}

body, header, h1, h2 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #417c64;
}

body > header {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    position:fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
}

body > header > nav {
    box-sizing: border-box;
    width: 20%;
    display: inline-block;
}

body > header > nav > a {
    margin-left: 10%;
}

body > header > nav a img {
    height: 15px;
    margin-bottom: 12.5px;
}

body > header > div {
    box-sizing: border-box;
    width: 60%;
    display: inline-block;
}

body > header > div > a > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
}

body > header > nav > ul {
    margin: 0;
}

body > header > nav > ul > li {
    display: inline-block;
    width: 25%;
}

body > nav {
    display: none;
}

body > main {
    margin-top: 83.5px;
    background-color: white;
}

body > main > section {
    width: 80%;
    margin: 20px 10%;
    padding-top: 20px;
}

body > main h1 {
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 20px;
}

body > main > section > p {
    font-size: 12pt;
    font-weight: normal;
    line-height: 150%;
}

body > main > section > form {
    text-align: center;
}

body > main > section > form > ul {
    line-height: 250%;
}

body > main > section > form > ul > li > label {
    box-sizing: border-box;
    width: 50%;
    text-align: left;
    font-size: 12pt;
    font-weight: normal;
    display: inline-block;
}

body > main > section > form > ul > li > input {
    box-sizing: border-box;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #8b92a7;
    height: 30px;
}

body > main > section > form > ul > li:last-child > input, body > main > section > a > button {
    width: 30%;
    height: 30px;
    background-color: white;
    color: black;
    font-size: 10pt;
    font-weight: 600;
}

body > main > section > form > ul > li:last-child > input:hover, body > main > section > a > button:hover {
    cursor: pointer;
    background-color: #f6f6f6;
    color: #417c64;
}

body > main > section > form > p {
    font-size: 10pt;
    font-weight: normal;
    color: #cc0003;
}

body > main > section > nav > ul > li {
    background-color: white;
    color: black;
    display: inline-block;
    width: 45%;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: top;
    aspect-ratio: 1.618;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body > main > section > nav > ul > li:nth-child(odd) {
    margin-right: 10%;
}

body > main > section > nav > ul > li > a > div > img {
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

body > main > section > nav > ul > li > a > div > h2 {
    padding: 0 10%;
    font-size: 16pt;
    font-weight: 500;
    margin-bottom: 10px;
}

body > main > section > a > button {
    display: block;
    margin: auto;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #8b92a7;
    height: 30px;
}

body > footer {
    margin-top: 20px;
    background-color: #f6f6f6;
}

body > footer > section {
    margin-left: 10%;
    box-sizing: border-box;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
}

body > footer > section > header > h2 {
    font-size: 12pt;
    font-weight: bold;
}

body > footer > section > nav > ul {
    margin-top: 10px;
    padding-left: 3%;
}

body > footer > section > nav > ul > li {
    font-size: 8pt;
    line-height: 200%;
}

body > footer > section:nth-child(2) > nav > ul > li {
    display: inline-block;
    width: 15%;
}

body > footer > section > nav > ul > li > a > img {
    height: 20px;
}

body > footer > p {
    text-align: center;
    font-size: 8pt;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 20px;
}

@media screen and (min-width: 992px) {
    body > header > nav:first-child {
        visibility: hidden;
    }

    body > header > div > a > img {
        height: 50px;
    }

    body > header > nav a img {
        height: 20px;
        margin-bottom: 15px;
    }

    body > nav {
        top: 83.5px;
        display: block;
        position: fixed;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #f6f6f6;
    }

    body > nav > ul {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    body > nav > ul > li {
        display: inline-block;
        width: 20%;
        text-align: center;
    }

    body > nav > ul > li > a {
        font-size: 12pt;
    }

    body > main {
        margin-top: 122.5px;
    }

    body > main > section > form > ul > li > label {
        width: 15%;
    }

    body > main > section > form > ul > li > input {
        width: 20%;
    }

    body > main > section > form > ul > li:last-child > input, body > main > section > a > button {
        width: 10%;
    }

    body > main > section > nav > ul > li {
        width: 19%;
    }

    body > main > section > nav > ul > li:not(:last-child) {
        margin-right: 8%;
    }
}