body > main > section > nav {
    font-size: 8pt;
    color: #545454;
    margin-bottom: 20px;
}

body > main > section > nav > a {
    color: #545454;
}

body > main > section > nav > a:hover {
    color: #417c64;
}

@media screen and (min-width: 992px) {
    body > main > section > nav {
        font-size: 10pt;
    }
}
